<div class="container py-5 min-footer">

  <h1>Mon tableau de bord</h1>

  <p><%= @user.email %></p>

  <br>

  <%= render "shared/meslocations" if @user.get_bookings.count > 0 %>

  <br>

  <%= render "shared/mesoeuvres" if @user.artworks.count != 0 %>

  <br>

  <%= render "shared/mesdemandes" if @bookings.count != 0 %>

</div>
