// Specific CSS for your home-page

.logo-arter {
  height: 50px;
}

body{
  position:relative;
}

h5 {
  font-family: "Poppins", sans-serif;
  color: rgb(72, 72, 72);
}

h4 {
  font-family: "Poppins", sans-serif;
  color: rgb(72, 72, 72);
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: rgb(72, 72, 72);
}

h2 {
  font-family: "Poppins", sans-serif;
  color: rgb(72, 72, 72);
}

h1 {
  font-family: "Poppins", sans-serif;
  color: rgb(72, 72, 72);
}

p {
  font-family: "Poppins", sans-serif;
  color: rgb(72, 72, 72);
}

a {
  &:hover {
    text-decoration: none;
    color: black;
  }
  color: rgb(72, 72, 72);
}

.display-none {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
}

.artwork-container {
  width: 75%;
  margin: 0 auto;
}
.card-container {
  width: 800px;
  margin: 0 auto;
}

.cards {
  text-align: center;
}

.centered-object {
  display: flex;
  align-items: center;
  justify-content: center;
}

#booking_date_range {
  width: 220px;
}
