// Specific CSS for your home-page

.logo-arter {
  height: 50px;
}

h5 {
  font-family: Avenir
}

h4 {
  font-family: Avenir
}

h3 {
  font-family: Avenir
}

h2 {
  font-family: Avenir
}

h1 {
  font-family: Avenir
}

p {
  font-family: Avenir
}

a {
  &:hover {
    text-decoration: none;
    color: black;
  }
  color: black;
}
