.show {
  display: block;
}

#artwork_country {
  @extend .form-control
}

.form-new {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: white;
  padding: 40px;
  width: 700px;
}

// .nav-step-container {
//   margin-top: 60px;
// }


.tab-buttons {
  display: flex;
  justify-content: space-between;
}

#first-tab {
  justify-content: flex-end;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  background: #ED254E;
  box-shadow: 0 10px 30px rgba(135, 129, 130, 0.5);
  transition: background 0.1s ease;
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.form-group.string {
  position: relative;
}

.form-control.string {
  border: none;
  border-radius: 0;
}

.form-control.string:focus {
  box-shadow: none;
}

.form-group.string input:focus + small {
  background-position: 0 0;
  background-color: transparent;
  transition: all 0.5s ease-out;
}

.form-control.integer {
  border: none;
  border-radius: 0;
}

.form-control.integer:focus {
  box-shadow: none;
}

.form-group.integer input:focus + small {
  background-position: 0 0;
  background-color: transparent;
  transition: all 0.5s ease-out;
}


.form-group.integer small {
  width: 8%;
}

small {
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(to right, #ED254E 50%, #0000004d 50%);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: all 0.6s ease;
}

// A REMETTRE SI TRAVAIL SUR LE JS
// .form-group.string label {
//   position: absolute;
//   top: -15px;
//   color: #0000004d;
// }

textarea.form-control, textarea#artwork_country {
    height: 300px;
}

.form-control.text {
    color: #495057;
    border-radius: 10px;
    border: 1.5px solid #0000004d;
    transition: all 0.6s ease;
    resize: none;
}

.form-control.text:focus, #artwork_country:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ED254E;
    border-radius: 20px;
    box-shadow: none;
    transition: all 0.6s ease;
    resize: none;
}

.form-control.select:focus, #artwork_country:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ED254E;
    border-radius: 20px;
    box-shadow: none;
    transition: all 0.6s ease;
}

.form-control::placeholder {
    color: #cccccc;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}



// .form-group.string input:focus + .form-group.string label {
//   bottom: 40px;
// }
