<div>
  <%= simple_form_for([artwork, booking]) do |f| %>
    <%= f.input :date_range, label: false, placeholder: 'Choisir une durée', as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.submit 'Réserver maintenant', class: "btn btn-flat-big mt-4", style: "width: 200px" %>
  <% end %>
</div>
