<footer class="text-muted">
  <div class="container">
    <p class="float-left">
      <a href="#"><i class="fab fa-instagram mr-3"></i></a>
      <a href="#"><i class="fab fa-facebook mr-3"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    <p class="float-right">
      <a> &copy; arter, the art marketplace.</a>
    </p>
  </div>
</footer>


