<div class="home-banner">
  <div class="container">
    <h1 id="huge-title">arter</h1>
    <h1>permet aux particuliers et organisations <br>de louer des œuvres uniques.</h1>
    <br>
    <%= link_to "Se connecter", artworks_path, class: "btn btn-flat-big" %>
  </div>
</div>
<div class="card-container mt-5">

    <div class="row">
          <div class="col-lg-4 cards" >
            <img class="" src="https://image.flaticon.com/icons/svg/1584/1584892.svg" width="140" height="140">
            <h2></h2>
            <p>En trois clic, mettez en ligne votre oeuvre d'art</p>

          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 cards">
            <img class="" src="https://image.flaticon.com/icons/svg/1161/1161490.svg" width="130" height="130">
            <p class= "mt-3">Profitez de notre assurance qui couvre 100 % des dégats.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 cards">
            <img class="" src="https://image.flaticon.com/icons/svg/126/126141.svg" alt="Generic placeholder image" width="140" height="140">
            <h2></h2>
            <p>Livré partout dans le monde</p>

          </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>




