<div class="home-banner">
  <div class="container">
    <h1 id="huge-title"><strong>arter</strong></h1> 
    <h1>permet aux particuliers et organisations <br>de louer des œuvres <strong>uniques</strong>.</h1>
    <br>
    <%= link_to "Se connecter", artworks_path, class: "btn btn-flat-big" %>
  </div>
</div>
