.card-artwork {
  overflow: hidden;
  background: white;
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0,0,0, 0.15);
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 30px 60px rgba(0,0,0, 0.5);
}

.card {
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  height: 520px;
}

.card:hover img {
  transform: translateY(-80px);
  transform: scale(1.05, 1.05);
}

.card .card-img-top {
  height: 400px;
  object-fit: cover;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.card-radius {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
  position: relative

}

.card-body {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
  position: absolute;
  bottom: -24px;
}

.card-artwork-pricing {
  padding-right: 2px;
}

.card-artwork > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-artwork h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-artwork p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-artwork .card-artwork-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-artwork-infos .card-artwork-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
