.card-artwork {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}
.card .card-img-top {
  height: 400px;
  object-fit: cover;
}

.card-radius {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
}

.card-artwork-pricing {
  padding-right: 2px;
}

.card-artwork > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-artwork h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-artwork p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-artwork .card-artwork-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-artwork-infos .card-artwork-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}