.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-light-grad {
  background: linear-gradient(rgba(0, 0, 0, 0.06), transparent);;
}

